#define S_base03 #002b36
#define S_base02 #073642
!#define S_base03 #121212
!#define S_base02 #232323
#define S_base01 #586e75
#define S_base00 #657b83
#define S_base0 #839496
#define S_base1 #93a1a1
#define S_base2 #eee8d5
#define S_base3 #fdf6e3
#define S_yellow #b58900
#define S_orange #cb4b16
#define S_red #dc322f
#define S_magenta #d33682
#define S_violet #6c71c4
#define S_blue #268bd2
#define S_cyan #2aa198
#define S_green #859900
! black dark/light
*color0:	S_base03
*color8:	S_base02

! red dark/light
*color1:	S_red
*color9:	S_orange

! green dark/light
*color2:	S_green
*color10:	S_base01

! yellow dark/light
*color3:	S_yellow
*color11:	S_base00

! blue dark/light
*color4:	S_blue
*color12:	S_base0

! magenta dark/light
*color5:	S_magenta
*color13:	S_violet

! cyan dark/light
*color6:	S_cyan
*color14:	S_base1

! white dark/light
*color7:	S_base2
*color15:	S_base3

*background:		S_base03
*foreground:		S_base3
*borderColor:		S_base03
*cursorColor:		S_base1
*pointerColorBackground:S_base01
*pointerColorForeground:S_base1

*font:		xft:Ubuntu\ Mono:size=8

URxvt*background:			S_base03
URxvt*foreground:			S_base3
URxvt*scrollBar:			off
URxvt*perl-ext-common:			default,matcher
URxvt*urlLauncher:			/usr/bin/firefox
URxvt*matcher.button:			1

xscreensaver.Dialog.bodyFont:           -*-fixed-medium-r-*-*-14-*-*-*-*-*-*-*
xscreensaver.Dialog.labelFont:          -*-fixed-medium-r-*-*-14-*-*-*-*-*-*-*
xscreensaver.Dialog.unameFont:          -*-fixed-medium-r-*-*-14-*-*-*-*-*-*-*
xscreensaver.Dialog.buttonFont:         -*-fixed-medium-r-*-*-14-*-*-*-*-*-*-*
xscreensaver.Dialog.dateFont:           -*-fixed-medium-r-*-*-12-*-*-*-*-*-*-*
xscreensaver.passwd.passwdFont:         -*-fixed-medium-r-*-*-14-*-*-*-*-*-*-*
!general dialog box (affects main hostname, username, password text)
xscreensaver.Dialog.foreground:         #101010
xscreensaver.Dialog.background:         #D8D8D8
xscreensaver.Dialog.topShadowColor:     #D8D8D8
xscreensaver.Dialog.bottomShadowColor:  #D8D8D8
xscreensaver.Dialog.Button.foreground:  #101010
xscreensaver.Dialog.Button.background:  #E5E5E5
!username/password input box and date text colour
xscreensaver.Dialog.text.foreground:    #101010
xscreensaver.Dialog.text.background:    #E5E5E5
xscreensaver.Dialog.internalBorderWidth:24
xscreensaver.Dialog.borderWidth:        20
xscreensaver.Dialog.shadowThickness:    2
!timeout bar (background is actually determined by Dialog.text.background)
xscreensaver.passwd.thermometer.foreground:  #101010
xscreensaver.passwd.thermometer.background:  #2E2E2E
xscreensaver.passwd.thermometer.width:       8
