Xft.autohint: 0
Xft.antialias: 1
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.dpi: 96
Xft.rgba: rgb
Xft.lcdfilter: lcddefault
 
*font: xft:Ubuntu\ Mono:size=8
*boldFont: xft:Ubuntu\ Mono:bold:size=8 
urxvt.scrollBar: false
urxvt.imLocale: en_US.UTF-8
urxvt.loginShell: true
urxvt.saveLines: 512
urxvt.geometry: 90x25
urxvt.boldMode: false
urxvt.inheritPixmap: false
urxvt.xftAntialias: false
urxvt.jumpScroll: true
urxvt.tintColor: white
URxvt*internalBorder: 2
urxvt.cursorBlink: false
urxvt.borderless: true

*background: #383838
*foreground: #dedede
!
!black
*color0:  #333333
*color8:  #828282
!red
*color1:  #d96468
*color9:  #d98f93
!green
*color2:  #a2d964
*color10: #b8d98f
!yellow
*color3:  #d9c964
*color11: #d9cf8f
!blue 
*color4:  #64a2d9
*color12: #8f99d9
!magenta
*color5:  #9a64d9
*color13: #b08fd9
!cyan
*color6:  #64d9d5
*color14: #8fd9d5
!white
*color7:  #989898
*color15: #C5C5C5
